<div class="form-control" >
    <br>
    <form [formGroup]="FormValue" (ngSubmit)="handleTransfer()">
        <table>
            <tr>
                <th><label>Account Number:</label></th>
                <td>
                    <input formControlName="account_num_receiver" type="number" class="form-control">
                    <div
                        [hidden]="FormValue.controls['account_num_receiver'].valid || FormValue.controls['account_num_receiver'].pristine">
                        <span class="text-danger">Account Number Required</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th><label>Name:</label></th>
                <td><input formControlName="name" type="text" class="form-control" ></td>
            </tr>
            <tr>
                <th><label>IFSC Code:</label></th>
                <td>
                    <input formControlName="IFSC" type="text" class="form-control">
                    <div [hidden]="FormValue.controls['IFSC'].valid || FormValue.controls['IFSC'].pristine">
                        <span class="text-danger">IFSC Code Required</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th><label>Amount:</label></th>
                <td>
                    <input formControlName="send_amount" type="text" class="form-control">
                    <div
                        [hidden]="FormValue.controls['send_amount'].valid || FormValue.controls['send_amount'].pristine">
                        <span class="text-danger">Amount must be between 100 to 1000</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Transfer" class="btn btn-primary" [disabled]="FormValue.invalid"></td>
            </tr>

        </table>

    </form>
    <br>
    <div *ngIf="formValue">
        <div *ngIf="errorMessage" class="row">
            <div class="col-3">
                <div class="alert alert-danger">{{errorMessage}}</div>
            </div>
        </div>
        <table>
            <tr>
                <th>Enter Transaction Password:</th>
                <td>
                    <input type="password" [formControl]="password" class="form-control">
                    <div [hidden]="password.valid || password.pristine">
                        <span class="text-danger">Password is required</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" (click)="handleSubmit()" [disabled]="password.invalid"
                        class="btn btn-info"></td>
            </tr>
        </table>



    </div>