<div class="form-control">
  <form>
    <table>
      <tr>
        <th>Enter New Login Password:</th>
        <td>
          <input type="password" [formControl]="password" class="form-control">
          <div [hidden]="password.valid || password.pristine">
            <span class="text-danger">Password is required</span>
          </div>
        </td>
      </tr>
 
      <tr>
        <td>
          <input type="submit" value="Update" (click)="handleUpdate()"
            [disabled]="again_pass.invalid || password.invalid" class="btn btn-info">
        </td>
      </tr>
    </table>
  </form>
  <div *ngIf="modifiedCount">
    <p>Password Update Successfully</p>
  </div>
</div>